<div
  class="giqmusi atm_9s_1txwivl atm_ar_1bp4okc atm_h_1h6ojuz atm_gq_1vi7ecw atm_r3_1h6ojuz atm_h3_exct8b__oggzyc atm_gq_1fwpi09__oggzyc dir dir-ltr">
  <div
    class="c139f2ip atm_9s_1txwivl atm_cs_10d11i2 atm_fc_1h6ojuz atm_r3_1h6ojuz atm_vy_1wugsn5_1iq5wej c1ulwnyr atm_cx_i2wt44 tpr33qy atm_h_1y6m0gg dir dir-ltr">
    <!-- First Image -->
    <div style="width: auto; height: 105px;">
      <div
        class="d1l1iq7v atm_9s_1o8liyq atm_vh_yfq0k3 atm_e2_88yjaz atm_vy_1r2rij0 atm_j6_t94yts bmwtyu7 atm_2m_1qred53 atm_2s_mgnkw2 dir dir-ltr"
        role="presentation" aria-hidden="true"
        style="--dls-liteimage-height: 105px; --dls-liteimage-width: 68.97058823529412px; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: contain;">
        <img
          class="i9if2t0 atm_e2_idpfg4 atm_vy_idpfg4 atm_mk_stnw88 atm_e2_1osqo2v__1lzdix4 atm_vy_1osqo2v__1lzdix4 atm_mk_pfqszd__1lzdix4 i1cqnm0r atm_jp_pyzg9w atm_jr_nyqth1 i1de1kle atm_vh_yfq0k3 dir dir-ltr"
          aria-hidden="true" decoding="async" elementtiming="LCP-target"
          src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/78b7687c-5acf-4ef8-a5ea-eda732ae3b2f.png"
          data-original-uri="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/78b7687c-5acf-4ef8-a5ea-eda732ae3b2f.png"
          style="--dls-liteimage-object-fit: contain;">
        <div
          class="rsb5yse atm_9s_1o8liyq atm_vh_yfq0k3 atm_e2_1osqo2v atm_vy_1osqo2v atm_9s_glywfm__1lzdix4 bmwtyu7 atm_2m_1qred53 atm_2s_mgnkw2 dqqltwe atm_2g_1isa5lx atm_2w_k6d6ah dir dir-ltr"
          style="--dls-liteimage-background-size: contain; --dls-liteimage-background-image: url(https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/78b7687c-5acf-4ef8-a5ea-eda732ae3b2f.png);">
        </div>
      </div>
    </div>

    <!-- Final Rating -->
    <div
      class="gvcwa6y atm_h3_12gsa0d atm_fr_12gsa0d atm_7l_dezgoh atm_c8_t9kd1m atm_g3_t9kd1m atm_h3_1n1ank9__uwn79d atm_c8_12am3vd__uwn79d atm_g3_12am3vd__uwn79d atm_h3_1bs0ed2__oggzyc atm_c8_12xxubj__oggzyc atm_g3_12xxubj__oggzyc dir dir-ltr">
      <h2 tabindex="-1"
        class="hpipapi atm_7l_1kw7nm4 atm_c8_1x4eueo atm_cs_1kw7nm4 atm_g3_1kw7nm4 atm_gi_idpfg4 atm_l8_idpfg4 atm_kd_idpfg4_pfnrn2 dir dir-ltr"
        elementtiming="LCP-target">
        <span
          class="a8jt5op atm_3f_idpfg4 atm_7h_hxbz6r atm_7i_ysn8ba atm_e2_t94yts atm_ks_zryt35 atm_l8_idpfg4 atm_mk_stnw88 atm_vv_1q9ccgz atm_vy_t94yts dir dir-ltr"
          style="font-weight: bold;">
          Rated 4.91 out of 5 from 93 reviews.
        </span>
        <div aria-hidden="true" style="font-weight: bold;">4.91</div>
      </h2>
    </div>

    <!-- Second Image -->
    <div style="width: auto; height: 105px;">
      <div
        class="d1l1iq7v atm_9s_1o8liyq atm_vh_yfq0k3 atm_e2_88yjaz atm_vy_1r2rij0 atm_j6_t94yts bmwtyu7 atm_2m_1qred53 atm_2s_mgnkw2 dir dir-ltr"
        role="presentation" aria-hidden="true"
        style="--dls-liteimage-height: 105px; --dls-liteimage-width: 68.97058823529412px; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: contain;">
        <img
          class="i9if2t0 atm_e2_idpfg4 atm_vy_idpfg4 atm_mk_stnw88 atm_e2_1osqo2v__1lzdix4 atm_vy_1osqo2v__1lzdix4 atm_mk_pfqszd__1lzdix4 i1cqnm0r atm_jp_pyzg9w atm_jr_nyqth1 i1de1kle atm_vh_yfq0k3 dir dir-ltr"
          aria-hidden="true" decoding="async" elementtiming="LCP-target"
          src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/b4005b30-79ff-4287-860c-67829ecd7412.png"
          data-original-uri="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/b4005b30-79ff-4287-860c-67829ecd7412.png"
          style="--dls-liteimage-object-fit: contain;">
        <div
          class="rsb5yse atm_9s_1o8liyq atm_vh_yfq0k3 atm_e2_1osqo2v atm_vy_1osqo2v atm_9s_glywfm__1lzdix4 bmwtyu7 atm_2m_1qred53 atm_2s_mgnkw2 dqqltwe atm_2g_1isa5lx atm_2w_k6d6ah dir dir-ltr"
          style="--dls-liteimage-background-size: contain; --dls-liteimage-background-image: url(https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/b4005b30-79ff-4287-860c-67829ecd7412.png);">
        </div>
      </div>
    </div>
  </div>

  <div class="gzon5f2 atm_c8_imiupd atm_g3_1slol46 atm_cs_10d11i2 atm_by_4iukzz atm_le_ftgil2 dir dir-ltr">
    Guest favorite
  </div>
  <div
    class="g1svj0ba atm_c8_1cw7z3g atm_g3_92qb7l atm_fr_1bq7tds atm_7l_1esdqks atm_j3_1lvxp6z atm_c8_vvn7el__qky54b atm_g3_k2d186__qky54b atm_fr_1vi102y__qky54b atm_j3_x4xq5r__qky54b dir dir-ltr">
    <span class="lrl13de atm_kd_19r6f69_24z95b atm_kd_19r6f69_1xbvphn_1oszvuo dir dir-ltr">One of the most loved homes
      on Airbnb based on ratings, reviews, and reliability</span>
  </div>
</div>